.main__portfolio {
    margin-top: 20px;
    height: 1900px;

    h2 {
        color: #fff;
        font-family: $fuente;
        font-weight: bold;
        font-size: 40px;
        margin-left: 30px;
        margin-top: 40px;
    }
}

.gallery {
    margin: 10px 50px;
}

.gallery img {
    transition: 0.8s;
    padding: 15px;
    width: 400px;
    filter: grayscale(100%);
}

.gallery img:hover {
    filter: none;
    transform: scale(1.1);
}

@media only screen and (max-width: 420px) {
     
    .main__portfolio{
        margin-top: 20px;
        height: 4700px;

        h1 {
            color: #fff;
            font-family: $fuente;
            font-weight: bold;
            font-size: 40px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 30px;
            padding-top: 60px;
        }

    }

    .gallery {
        margin-left: 10px;
        margin-top: -25px;
    }
    
    .gallery img {
        transition: none;
        width: 400px;   
        filter: none;
    }
    
    .gallery img:hover {
        filter: none;
        transform: none;
    }
}