$negro-fondo:  #1d2129;
$color-principal: #004454;
$fuente: Roboto, Ubuntu, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/* Variables Hamburger Menu*/ 
$overlay-color: rgba(0, 68, 84, 0.9);
$menu-speed:0.60s;
/* Variables Hamburger Menu*/ 

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $negro-fondo;
    margin: 0;
    padding: 0;
    font-family: $fuente;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
}

.header__logo {
    height: auto;
    width: 170px;
    margin-top: 30px;
    margin-left: 35px; 
    float: left;
}

.header__redes {
    width: 200px;
    float: right;
    margin-right: 35px;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #1d2129, #004454, #004454, #004454, #1d2129);
    position: sticky;
    top: 0;
    z-index: 2;

    ul {
        list-style-type: none;
        width: 60%;
        height: 55px;
        padding-top: 18px;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-block-start: 10px;

        a {
            color: #fff;
            font-family: $fuente;
            text-decoration: none;
            font-size: 15px;
            margin: 40px;
            transition: 1s ease;
        }
    }

    ul a:hover {
        text-decoration: solid;
        font-size: 19px;
        text-align: center;
        color: #fff;  
        margin: 55px;
        transition: 1s ease;
    }
  
}

.menu-wrap {
    display: none;
}

main {
    width: 100%;
    height: 470px;
    margin: 0;
    padding: 0;

    h1 {
        color: #fff;
        font-family: $fuente;
        font-weight: bold;
        font-size: 45px;
        margin-left: 35px;
        margin-top: 25px;
    }

    p {
        width: 700px;
        text-align: justify;
        color: #fff;
        font-family: $fuente;
        font-size: 24px;
        font-weight: normal;
        margin-left: 35px;
        margin-top: 20px;
    }
}

.main__contenedor {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    background-image: url(../imgs/imagen-index.jpg);
    background-size: cover;
    background-position: center -370px; 
    position: relative;
}

.color__overlay {
    position: absolute;
    width: 100%;
    height: 500px;
    background: rgba(75, 75, 75, 0.3);
}

.main__contacto {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-left: 40px;
    border: #fff solid 4px;
    text-align: center;
    transition: 1.3s ease;
    
    a {
        color: #fff;
        font-family: $fuente;
        text-decoration: none;
        font-size: 20px;
        font-weight: normal;
    }
}

.main__contacto:hover {
    transform: scale(1.2);
    transition: 1.3s ease;

    a{
        color: #fff;
        text-decoration: none;

    }
 }

section {
    background: #e4e4e4;
    height: 600px;
    width: 100%;
    box-sizing: border-box;
    border: solid 2px #e4e4e4;
    margin: 0 auto;
    padding: 0;

    h2 {
        color: $negro-fondo;
        font-family: $fuente;
        font-weight: bold;
        font-size: 40px;
        margin-left: 40px;
        margin-top: 40px;
    }

    p{
        color: $negro-fondo;
        font-family: Roboto, Ubuntu, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 14px;
        margin-left: 20px;
    }
}

.section__container {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section__modus {
    width: 400px;
    height: 280px;
    margin-top: 20px;
    margin-left: -35px;
    float: left;
    text-align: center;
}

.section__tamaños {
    width: 30%;
    height: auto;
}

.section__icono2 {
      padding-top: 32px;
}

.section__icono3 {
    padding-top: 24px;
}

.carousel__foto {
    height: 200px;
    width: 100px;
}

footer {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    background-image: linear-gradient(to left, #1d2129, #004454, #004454, #004454, #1d2129);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer__logo {
    width: 130px;
    height: auto;
    margin-left: 25px;
}

.footer__container {
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__icons {
    width: 30px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.footer__legales {
    color: #fff;
    font-family: $fuente;
    font-weight: bold;
    font-size: 13px;
}

/* pagina gracias post formulario */
.main__gracias {
    height: 320px;
}


/* Importados */

@import "quiensoy";
@import "servicios";
@import "portfolio";
@import "contacto";
 


@media only screen and (max-width: 420px) {

    header {
      display: none;
    }

    nav {
        display: none;
    }

    /* Hamburger menu */ 
    
    .hamburger__logo {
        display: block;
        width: 100px;
        margin-left: 260px;
        margin-top: 16px;
        position: fixed;
    }
    
    .menu-wrap {
        width: 100vw;
        height: 80px;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        background-image: linear-gradient(to left, #1d2129, #004454, #004454, #004454, #1d2129);;
    }
    
    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    
    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        margin-top: 8px;
        margin-left: 10px;
        padding: 1rem; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* Hamburger lines */
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    /* Top and bottom lines */
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    
    /* Moves line down */
    .menu-wrap .hamburger > div:after {
        top: 10px;
    }
    
    /* toggler animate */
    
    .menu-wrap .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }
    
    /* Turn lines into x */
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }
    
    
    /* Show menu */
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition: $menu-speed;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu-wrap .menu > div {
        background: $overlay-color;
        border-radius: 50%;
        width: 250vw;
        height: 300vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color: #fff;
        font-size: 1.4rem;
        padding: 1rem;  
    }
    
    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
    
    /* Hamburger menu */ 

    main {
        margin-top: 56px;
        box-sizing: border-box;
        width: 100vw;
        height: 450px;

        .main__contenedor {
            width: 100vw;
            height: 450px;
            background-image: url(../imgs/imagen-index.jpg);
            background-size: cover;
            background-position-x: -48px;
            background-position-y: 0px;
        }

        .color__overlay {
            width: 115vw;
            height: 450px;
            display: flex;
            margin-left: -20px;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            background: rgba(75, 75, 75, 0.3);

            h1 {
                width: 300px;
                text-align: center;
                font-size: 25px;
            }
    
            p {
                width: 300px;
                font-size: 17px;
                text-align: center;
            }
        }

    }

    section {
        width: 100vw;
        height: 800px;

        h2 {
            font-size: 30px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 110px;

        }

        p {
            font-size: 12px;
            width: 190px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .section__container {
        width: 80vw;
        height: 450px;
        margin-top: 20px;
        margin-left: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        .section__modus {
            width: 300px;
            height: 200px;
        }
    }

    .section__tamaños {
        width: 17%;
    }

    .section__iconos {
        padding: none;
    }

    .section_float1 {
        float: none;
        margin: 0;
    }

    .section_float2 {
        float: none;
        margin: 0;
    }

    .section_float3 {
        margin: 0;
    }

    .section2 {
        width: 100vw;
        height: 500px;
    }

    footer {
        width: 100%;
        height: 380px;
        margin-top: 30px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-items: center;
    }

    .footer__logo {
        margin-top: 20px;
    }

    .footer__container {
        width: 350px;
    }

    .footer__icons {
        width: 25px;
    }

    .footer__legales {
        text-align: center;
        font-size: 12px;
        margin-top: -10px;
        margin-bottom: 18px;
    }

    /* pagina gracias post formulario */
    .main__gracias {
        height: 360px;

        h1 {
            margin-top: 100px;
            margin-right: 35px;
            text-align: center;
        }
    }
}



